<%= form_for @restaurant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sub_content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sub_content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cuisine, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cuisine, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :offer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :offer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opening_hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :opening_hours, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :restrictions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :restrictions, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>
