<div class ="listing row" id = "<%= restaurant.id %>">
    <div class="details">
                  <span><%= restaurant_counter + 1 %></span>

        <div class="listing_image">
        <% restaurant.images.each do |image| %>
            <%= image_tag image.image_url(:thumb).to_s %>

        <% end %>
    </div>
        <div class="pull-right address">
            <small><%=restaurant.address %></br>
            <%=restaurant.zip %>, <%=restaurant.city %></small>
        </div>

            <h1 class="listing_title"><%= link_to restaurant.name, restaurant %></h1>
            <p><strong>Küche:</strong> <%= restaurant.cuisines.pluck(:name).to_sentence(:two_words_connector => ', ', :last_word_connector => ', ' ) %></p>
             <p><strong>Resevierung:</strong><%= restaurant.phone_number %></p>

         <div class="key pull-right">    
        <% if restaurant.offer.include?('50')%>
            <span class="btn">50%</span>
        <% else %>
            <span class="btn">2:1</span>
        <% end %>
         <% unless restaurant.max_party > 12 %>
            <span class="btn"><i class="icon-user"></i>x<%=restaurant.max_party.to_s %></span> 
         <% end %>

       <% unless restaurant.availability.include?("Freitag") %>    
            <span class="btn label-important"><i class="icon-remove"></i>Fr</span>
        <% end %>
        <% unless restaurant.availability.include?("Samstag") %>    
            <span class="btn label-important"><i class="icon-remove"></i>Sa</span>
        <% end %>
        <% unless restaurant.availability.include?("Dezember") %>    
            <span class="btn label-important"><i class="icon-remove"></i>Dez</span>
        <% end %>
      </div>   

<% if current_user %>    
<tr>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
    </div>  
        
</div>
