 <li class ="restaurant" id = "<%= restaurant.id %>">
    <p><%= link_to restaurant.name, restaurant %></br>

    <%=restaurant.address %></br>
    <%=restaurant.city %></br>	
    <%=restaurant.cuisine_list %></br>
    <%=restaurant.offer_list %></br>
    <%=restaurant.availability_list %></br>
    <%=restaurant.max_party_list %></p>


    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</li>
