<table>
<tr>
    <td><%= link_to restaurant.name, restaurant %></td>
    <td><%=raw restaurant.cuisine_list.map { |t| link_to t, tag_path(t) }.join %></td>
    <td><%=raw restaurant.offer_list.map { |t| link_to t, tag_path(t) }.join %></td>
    <td><%= restaurant.longitude %></td>
    <td><%= restaurant.latitude %></td>



    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>