<h1>Listing restaurants</h1>

<p><%= link_to "Advanced Search", new_search_path %></p>

 <div id="restaurants">
	<table>
	<% @restaurants.each do |restaurant| %>
		<tr>
    		<td><%= link_to restaurant.name, restaurant %></td>
    		<td><%=raw restaurant.cuisine_list.map { |t| link_to t, tag_path(t) }.join %></td>
   			<td><%=raw restaurant.offer_list.map { |t| link_to t, tag_path(t) }.join %></td>
    		<td><%= restaurant.longitude %></td>
    		<td><%= restaurant.latitude %></td>
			
			<td><%= link_to 'Show', restaurant %></td>
    		<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    		<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 		 </tr>
	<% end %>
	</table>

  <%= gmaps("map_options" => { :raw => "{scrollwheel: false}", "auto_adjust" => true },"markers" => { "data" => @json }) %>


          ) 
 %>
</div>

<%= will_paginate @restaurants %>

<br />
<%= link_to 'New Restaurant', new_restaurant_path %>
