<p id="notice"><%= notice %></p>

<div id="restaurant_images">
  <% @restaurant.images.each do |image| %>
    <div class="restaurant_image">
      <%= image_tag image.image_url(:thumb).to_s %>
      <div class="name"><%= image.name %></div>
    </div>
  <% end %>
</div>

  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Content:</b>
  <%= @restaurant.content %>
</p>

<p>
  <b>Sub content:</b>
  <%= @restaurant.sub_content %>
</p>

<p>
  <b>Cuisine:</b>
   <% @restaurant.cuisines.each do |cuisine| %>
      <%= cuisine.name %>
      <% end %>
</p>

<p>
  <b>Offer:</b>
  <%= @restaurant.offer %>
</p>

<p>
  <b>Availability:</b>
  <%= @restaurant.availability %>
</p>

<p>
  <b>No. Party:</b>
  <%= @restaurant.max_party %>
</p>

<p>
  <b>Address</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>City</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>Destrict</b>
  <%= @restaurant.district %>
</p>

<p>
  <b>Zip</b>
  <%= @restaurant.zip %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
