<div class="row">
  <div class="span9" id="search">  
<%= form_for @search do |f| %>
    <%= f.text_field :keywords %>
    </div>
  <div class="actions span3"><%= f.submit "Search", :class =>'btn btn-search btn-large' %></div>

  </div>
  <small>Filter Options</small>

<div class="row" id="advanced_search">
  <div class="span6">
  <%= f.label :cuisine_input %><br />
  <%= f.check_box :cuisine_input, { :multiple => true }, 'German', nil %>
  <%= f.label "German" %><br />
  <%= f.check_box :cuisine_input, { :multiple => true }, 'Asian', nil %>
  <%= f.label "Asian" %><br />
  <%= f.check_box :cuisine_input, { :multiple => true }, 'Italian', nil %>
  <%= f.label "Italian" %><br />
  <%= f.check_box :cuisine_input, { :multiple => true }, 'American', nil %>
  <%= f.label "American" %><br />
  </div>

  <div class="span6">
  <small style="display:block;">Offer</small>

  <%= f.label :offer_input %><br />
  <%= f.check_box :offer_input, { :multiple => true }, '50', nil %>
  <%= f.label "50%" %><br />

  <%= f.check_box :offer_input, { :multiple => true }, '241', nil %>
  <%= f.label "241" %><br />
  </div>

</div>

<% end %>

