<div class="row">
  <div class="span9" id="search">  
    <%= form_for @search,  :remote => true do |f| %>
    <%= f.text_field :keywords %>
    </div>

    <div class="actions span3"><%= f.submit "Search", :class =>'btn btn-search btn-large' %></div>
  </div>
  <small>Filter Options</small>

<div class="row" id="advanced_search">
  <div class="span6">
  <small style="display:block;">Cuisine</small>
  <%= check_box_tag "cuisine[]", "German" %>
    <%= f.label "German" %></br>

  <%= check_box_tag "cuisine[]", "Italian" %>
      <%= f.label "Italian" %></br>

  <%= check_box_tag "cuisine[]", "Asian" %>
      <%= f.label "Asian" %></br>
</div>

  <div class="span6">
      <small style="display:block;">Offer</small>

  <%= check_box_tag "search[offer_input][]", "50" %>
      <%= f.label "50%" %></br>

  <%= check_box_tag "search[offer_input][]", "241" %>
      <%= f.label "2 For 1" %></br>

  </div>
</div>
<% end %>

<div class="row" id="results_container">
  <div id="search_results_list" class="span7">
      <%= render 'result' %>
  </div>

  <div class="span5">
  <%= gmaps("map_options" => { :raw => "{scrollwheel: false, }", "auto_adjust" => true }, "markers" => { "data" => @json }) %>
  </div>
</div>
