<div class="container">
  <div class="row" id="search_bar">
    <div class="span10" id="search">  
      <%= form_for @search,  :remote => true, :html => { :id => "search_form" } do |f| %>
      <%= f.text_field :keywords %>
    </div>
      <div class="actions span2">
        <%= button_tag(:type => 'submit', :class => 'btn btn-large btn-custom') do %>
        <i class="icon-search"></i> SEARCH
        <% end %>
        </div>
    </div>
    
  <div class="row">
    <div class="span4 panel_wrapper" id="advanced_search">
            <%= gmaps("map_options" => { :raw => "{scrollwheel: false, mapTypeControl: false,streetViewControl: false, }","auto_adjust" => true }, "markers" => { "data" => @json,"options" => {"rich_marker" => true } }) %>

      <div class="accordion" id="cuisine">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  <%= f.label :offer_input, "Küche" %><br />
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
               <div class="main-options">
                  <% Cuisine.first(6).each do |cuisine| %>
                  <li id ="<%= cuisine.name %>">
                  <%= f.check_box :cuisine_input, { :multiple => true }, cuisine.name, nil %> 
                  <%= f.label :cuisine_input, cuisine.name %></li>
                  <% end %>

                  <div class="secondary">
                     <% Cuisine.offset(6).each do |cuisine| %>
                     <li id ="<%= cuisine.name %>">
                    <%= f.check_box :cuisine_input, { :multiple => true }, cuisine.name, nil %> 
                    <%= f.label :cuisine_input, cuisine.name %></li>
                    <% end %>
                  </div>
                  
                  <a href="#myModal" role="button" data-toggle="modal">Show all</a>

                  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel">Küche</h3>
                    </div>

                    <div class="modal-body">
                      <% Cuisine.all.each do |cuisine| %>
                      <%= check_box_tag cuisine.name, nil %>
                      <%= label_tag cuisine.name %><br />
                      <% end %>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
                     <!-- <button class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>  <!-- Modal -->
                </div> <!-- Main Options -->
              </div>
            </div>
          </div>

          <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <%= f.label :offer_input, "Offer" %>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div id="offer_options">
                <%= f.check_box :offer_input, { :multiple => true }, '50', nil %>
                <%= f.label "50%" %><br />
                <%= f.check_box :offer_input, { :multiple => true }, '241', nil %>
                <%= f.label "241" %><br />
              </div>  <!-- Offer -->
            </div>
          </div>
        </div>

         <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <%= f.label :availability_input, "Availability" %>
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">
                  <div id="availability_options">
                  <%= f.check_box :availability_input, { :multiple => true }, 'Freitag', nil %>
                  <%= f.label "Freitag" %><br />
                  <%= f.check_box :availability_input, { :multiple => true }, 'Samstag', nil %>
                  <%= f.label "Samstag" %><br />
                  <%= f.check_box :availability_input, { :multiple => true }, 'Dezember', nil %>
                  <%= f.label "Dezember" %><br />
              </div>  <!-- Availability -->
            </div>
          </div>
        </div>


         <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  <%= f.label :max_party_input, "No. of People" %><br />
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse in">
            <div class="accordion-inner">
               <div id="max_party_options">
                <%= select(:search, :max_party_input, options_for_select([['2', 2], ['4', 4],['6', 6], ['8', 8],['10', 10], ['12', 12]])) %>
                
               </div>  <!-- Max Party -->
            </div>
          </div>
        </div>
     </div><!-- Accordion -->
  </div> <!-- Advanced Search -->
<% end %>

    <div id="search_results_list" class="span8">
        <%= render 'result' %>
    </div>
  </div><!-- Row -->

</div><!-- Container -->
   