<div class="row">
  <div class="span9" id="search">  
    <%= form_for @search,  :remote => true do |f| %>
    <%= f.text_field :keywords %>
  </div>
  <div class="actions span3"><%= f.submit "Search", :class =>'btn btn-custom btn-large' %></div>
</div>
  
<div class="row" id="advanced_search">
  <div class="span2">
    <div class="main-options">
      <%= f.label :offer_input, "Küche" %><br />
      <% Cuisine.first(6).each do |cuisine| %>
      <li id ="<%= cuisine.name %>">
      <%= f.check_box :cuisine_input, { :multiple => true }, cuisine.id, nil %> 
      <%= f.label :cuisine_input, cuisine.name %></li>
      <% end %>

      <div class="secondary">
         <% Cuisine.offset(6).each do |cuisine| %>
         <li id ="<%= cuisine.name %>">
        <%= f.check_box :cuisine_input, { :multiple => true }, cuisine.id, nil %> 
        <%= f.label :cuisine_input, cuisine.name %></li>
        <% end %>
      </div>
    </div>
    
    <a href="#myModal" role="button" data-toggle="modal">Show all</a>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Küche</h3>
      </div>

      <div class="modal-body">
        <% Cuisine.all.each do |cuisine| %>
        <%= f.check_box :cuisine_input, { :multiple => true }, cuisine.name, nil %>
        <%= f.label :cuisine_input, cuisine.name %><br />
        <% end %>
      </div>

      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>  <!-- Modal -->
  </div> <!-- Cuisine -->

  <div class="span1" id="offer_options">
      <%= f.label :offer_input, "Offer" %><br />
      <%= f.check_box :offer_input, { :multiple => true }, '50', nil %>
      <%= f.label "50%" %><br />
      <%= f.check_box :offer_input, { :multiple => true }, '241', nil %>
      <%= f.label "241" %><br />
  </div>  <!-- Offer -->

 <div class="span2" id="availability_options">
    <%= f.label :availability_input, "Availability" %><br />
    <%= f.check_box :availability_input, { :multiple => true }, 'Freitag', nil %>
    <%= f.label "Freitag" %><br />
    <%= f.check_box :availability_input, { :multiple => true }, 'Samstag', nil %>
    <%= f.label "Samstag" %><br />
    <%= f.check_box :availability_input, { :multiple => true }, 'Dezember', nil %>
    <%= f.label "Dezember" %><br />
  </div>  <!-- Availability -->

  <div class="span2" id="max_party_options">
    <%= f.label :max_party_options, "No. of People" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '2', nil %>
    <%= f.label "2" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '4', nil %>
    <%= f.label "4" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '6', nil %>
    <%= f.label "6" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '8', nil %>
    <%= f.label "8" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '10', nil %>
    <%= f.label "10" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '12', nil %>
    <%= f.label "12" %><br />
    <%= f.check_box :max_party_input, { :multiple => true }, '0', nil %>
    <%= f.label "Unlimited" %><br />
   </div>  <!-- Max Party -->
</div>

<% end %>

<div class="row" id="results_container">
  <div id="search_results_list" class="span7">
      <%= render 'result' %>
  </div>

  <div class="span5" id="map_key">
    <%= gmaps("map_options" => { :raw => "{scrollwheel: false }", "auto_adjust" => true }, "markers" => { "data" => @json }) %>

    <div id="key">
       <p> <span class="label label-success">50%</span>The restaurant offers tastecard card-holders 50% OFF the total food bill</p>
       <p><span class="label label-success">2 Für 1</span>The restaurant offers tastecard card-holders 2 for 1 meals (across all courses ordered), 2 for 1 means one tastecard card applies for 2 people</p>
       <p><span class="label label-party"><i class="icon-user"></i>x12</span>Number denotes the maximum number of people per taste booking</p>
       <p><span class="label label-important"><i class="icon-remove"></i>Fr</span>The tastecard offer is not available during Friday</p>
       <p><span class="label label-important"><i class="icon-remove"></i>Sa</span>The tastecard offer is not available during Saturday </p>
       <p><span class="label label-important"><i class="icon-remove"></i>Dez</span>The tastecard offer is not available during December</p>
  </div>
</div>
