<!DOCTYPE html>
<html>
<head>
  <title>Elbcard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header id="access" role="navigation">
    	<div class="container">
        <div class="row" id="search_form_home">

          <div class="span3">
    		    <h1 class ="site_title"><%= link_to "elbcard", root_path %></h1>
          </div>

          <div class="span9">
    			   <ul id="nav">
    				  <li class="search"><%= link_to "Suchen", new_search_path %></li>
              <li><%= link_to "About", root_path %></li>
    				  <li><%= link_to "Karte Bestellen", root_path %></li>
   				    <li><%= link_to "Free Trial!", root_path %></li>
   				 </ul>
    	   </div>
        </div>
      </div>
    </header>

<div class = "container" id="content">
	<%= yield %>
</div>

<footer id="colophon">
	<div class="container">
		<div class="row">
      <div class="span3">
        test
      </div>
       <div class="span3">
        test
      </div>
       <div class="span3">
        test
      </div>
      <div class="span3">
        test
      </div>

    </div>
	</div>
</footer>

<%= yield :scripts %>
</body>
</html>
